.videos-container {
    padding: 20px;
    background: linear-gradient(to right, #f6c06e, #9c9a96);
    min-height: 100vh; /* Ensure it covers the full viewport height */
    position: relative; /* Add this to position the success message at the bottom */
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .video-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: black; /* Add black background */
  }
  
  .video-element {
    width: 100%;
    height: 280px;
    border-radius: 5px; /* Add border radius to the video */
  }
  
  .video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .upload-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-label {
    padding: 10px 20px;
    background-color: rgba(255, 208, 0, 0.943);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .video-info h3 {
    margin-bottom: 10px; /* Adjust title margin as needed */
    color: white; /* Change text color to white */
  }
  
  .ai-button {
    padding: 5px 10px;
    background-color: rgba(255, 208, 0, 0.943);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .success-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: green;
    color: white;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .video-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .video-block {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 450px) {
    .video-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .video-block {
      width: 100%;
      height: auto;
    }
  }
  