.App {
  text-align: center;
  
}
.top-left-container {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 100px; /* Adjust image size as needed */
  height: auto;
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

 .App-header {
  background-color: #f9fbff;
 
} 

.App-link {
  color: #232222;
  position: absolute;
  top: 50px; /* Adjust top position as needed */
  left: 90px;
  font-size:small;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;

}

.App-link:hover{
  text-decoration: underline;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

